@model List<AuthSystem.Models.Session>;
@inject AuthSystem.Data.AuthDbContext _test;

@{

    ViewData["Title"] = "Session Stats";
}

<head>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
</head>
<table id="example" class="display table table-light table-hover table-striped" style="width:100%" >
    <thead>
        <tr>
            <th>Session</th>
            <th>Number of Tests</th>
            <th>Start Date</th>
            <th>End Date</th>
           
        </tr>
    </thead>
    <tbody>
  
            @foreach (var session in Model)
            {
                var totalTests = _test.Tests.Where(t => t.SessionId == session.Id).Count();
            <tr>
                <td>@session.SessionName</td>
                <td><a class="btn btn-outline-primary" asp-action="SessionTests" asp-controller="Test" asp-route-sessionId="@session.Id">@totalTests</a></td>
                <td>@session.StartDate</td>
                <td>@session.EndDate</td>
            </tr>
            }
            
            
  
        </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script>

    $('#example').DataTable();

</script>