@model AuthSystem.Models.Test
@{
    ViewData["Title"] = "Create Test";
}

<h1>Create a new test</h1>

<form method="post" asp-action="Create" asp-controller="Test" class="form form-control form-group">
    <div>
        <input type="text" id="testName" name="testName" class="form-control" required placeholder="Test name"/>
    </div>

    <div id="subjects-container" class="subjects-container">
        @foreach (var subject in Model.Subjects)
        {
            <div class="form-check">
                <input type="checkbox" name="selectedSubjectIds" value="@subject.SubjectId" id="subject_@subject.SubjectId" class="form-check-input" data-subject-id="@subject.SubjectId" />
                <label for="subject_@subject.SubjectId">@subject.SubjectName.ToUpper()</label>
                <input type="number" name="percentages[@subject.SubjectId]" id="percentage_@subject.SubjectId" class="percentage-input form-control-sm" disabled min="1" max="100" required  />
                %
                <span id="question-count-@subject.SubjectId" class="no-of-questions"></span>
                <span id="err-message-@subject.SubjectId" class="err-message-questions"></span>

            </div>
        }
    </div>
   
    <div class="total-percentage" id="total-percentage">
        Total Percentage: <span id="totalPercentage">0</span>%
    </div>

    <button type="submit" id="submit-btn" disabled class="btn btn-success">Create</button>
</form>
<hr />
<h2>Created Tests</h2>


<hr />
    @foreach (var test in Model.TestList)
    {
    <div class="border border-dark border-1 rounded gap-2 d-grid p-lg-3 ">

        <h3>@test.TestName</h3>
        <ol>

            @foreach (var detail in test.TestDetails)
            {
                <li>@detail.Subject.SubjectName - @detail.Percentage%</li>


            }
            <a class="btn btn-primary" href="@Url.Action("DemoTest", "Test",  new{Id = test.Id})" >View Demo</a>
            <a class="btn btn-success" id="copy-button" >Copy Test Link</a>



        </ol>
        <br />
        <hr />
        </div>
    }





