@model IEnumerable<MCQ>;


@{
    ViewData["Title"] = "View|Questions|MCQ";
    int subjectId = ViewBag.SubjectId;
}
<div class="p-4 sm:ml-64 mt-10">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
 @* @foreach (var questions in Model) {

    <div class="bg-light rounded m-5">
        <h3>@Html.Raw(@questions.Content)</h3>
        <ol type="a">
            <li> @Html.Raw(@questions.Option1)</li>
            <li>@Html.Raw(@questions.Option2)</li>
            <li>@Html.Raw(@questions.Option3)</li>
            <li>@Html.Raw(@questions.Option4)</li>
        </ol>

        <h6>@questions.Subject.SubjectName</h6>
        <hr />
 </div>

} *@
      
                <!-- Start coding here -->
        <div id="wrapper"></div> 
        
</div>
</div>


   