@using Microsoft.AspNetCore.Identity
@using AuthSystem.Areas.Identity.Data
@model AuthSystem.Models.Test
@inject AuthSystem.Data.AuthDbContext _test
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Apply";
    string UserId = ViewBag.UserId;
    var user = UserManager.FindByIdAsync(UserId).Result;
    string userName = user.FirstName + " " + user.LastName;
}
    <div class="container-fluid border-4" style="margin:20px">
    <table class="table table-responsive table-hover" id="example">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Session</th>
                        <th>Composition</th>
                        <th>Duration</th>
                        <th>Action</th>
                        <th>Avialable Calendars</th>
                    </tr>
                </thead>
        <tbody>
            @foreach (var test in Model.TestList)
            {
                var applyButtonId = $"applyButton_{test.Id}_{test.Id}";
                var appliedMessageId = $"appliedMessage_{test.Id}_{test.Id}";
                var testID = _test.TestApplications.Where(t => t.UserId == UserId && t.TestId == test.Id && t.CalendarId == null).FirstOrDefault()?.TestId;
                var centerSelcted = _test.TestApplications.Where(t => t.UserId == UserId && t.TestId == test.Id && t.CalendarId != null);
                var applicationID = _test.TestApplications.Where(t => t.UserId == UserId && t.TestId == test.Id && t.CalendarId == null).FirstOrDefault()?.Id;
                var applicationIDPaid = _test.TestApplications.Where(t => t.UserId == UserId && t.TestId == test.Id && t.CalendarId == null && t.IsPaid == true).FirstOrDefault()?.Id; 
                var isApplied = test.Id == testID;
                var feeVerified = _test.TestApplications.Where(w => w.UserId == UserId && w.TestId == test.Id && w.CalendarId == null).FirstOrDefault()?.IsVerified;
                var isPaid = _test.TestApplications.Where(w => w.UserId == UserId && w.TestId == test.Id && w.CalendarId == null).FirstOrDefault()?.IsPaid;
                var isRejected  = _test.TestApplications.Where(w => w.UserId == UserId && w.TestId == test.Id).FirstOrDefault()?.IsRejected;
                var branchCode = _test.TestApplications.Where(w => w.UserId == UserId && w.TestId == test.Id).FirstOrDefault()?.BranchCode;
                var bankName = _test.TestApplications.Where(w => w.UserId == UserId && w.TestId == test.Id).FirstOrDefault()?.BankName;
                var branchName = _test.TestApplications.Where(w => w.UserId == UserId && w.TestId == test.Id).FirstOrDefault()?.BranchName;
                var voucherNumber = _test.TestApplications.Where(w => w.UserId == UserId && w.TestId == test.Id).FirstOrDefault()?.VoucherNumber;
                var sessionName = _test.Sessions.Where(w => w.Id == test.SessionId).FirstOrDefault()?.SessionName;
                var calendarsContainerId = $"calendarsContainer_{test.Id}";
                <tr>
                    <td>@test.TestName</td>
                    <td>@sessionName</td>   
                    <td>
                        @if (test.TestDetails != null)
                        {
                            foreach (var detail in test.TestDetails)
                            {
                                <p style="color:royalblue">@detail.Subject.SubjectName - @detail.Percentage%</p>
                            }
                        }
                    </td>
                    <td>
                        @if (test.Duration < 60)
                        {
                            @test.Duration <text> minutes</text>
                        }
                        else
                        {
                            @(test.Duration / 60)
                            <text> hour(s)</text>
                        }
                    </td>
                    <td>
                        <form method="post" asp-controller="Calendar" asp-action="SelectTest" asp-route-testId="@test.Id" asp-route-UserId="@UserId">
                            @if (!isApplied)
                            {


                                <a id="@applyButtonId" class="btn btn-primary" data-bs-toggle="modal" title="Apply for @test.TestName!" data-bs-target="#@test.Id" disabled>@((isApplied ? "Applied" : "Apply"))</a>

                            }
                            else
                            
                            {
                              <h1>Applied (Application Number: @applicationID)</h1>    
                            
                            }
                            <div class="modal fade" id="@test.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Applying for test</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>Are you sure you want to apply for <strong>@test.TestName</strong>?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button class="btn btn-danger" type="submit"> Yes</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                           
                            @if (test.Id == testID)
                            {
                                if (feeVerified == false && isPaid == false || isRejected == true    )
                                
                                {
                                    
                                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#_@test.Id">Cancel Request</a>
                                    <div class="modal fade" id="_@test.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Cancel Request</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Are you sure you want to cancel your request for <strong>@test.TestName</strong></h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a class="btn btn-danger" href="@Url.Action("CancelRequest" , "Calendar" , new {testId = test.Id , userId = UserId})"> Yes</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                   

                                }
                                
                   
                            }
                        </form>
                        
                    </td>
                    <td>
                        <button id="showCalendarButton" class="btn btn-primary" data-calendars-container="@calendarsContainerId">Show Available Calendars</button>
                        <div style="display: none; font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif" id="@calendarsContainerId">
                            @if (Model.TestCalenders.Any(calendar => calendar.TestId == test.Id) )
                            {
                                var calendarIndex = 1;
                                foreach (var calendar in Model.TestCalenders.Where(calendar => calendar.TestId == test.Id))
                                {
                                    if (DateTime.UtcNow.Day <= calendar.Date.Day)

                                    {
                                        <h4>@calendarIndex:</h4>
                                        <p>Date: <strong>@calendar.Date.ToString("D")</strong></p>
                                        <p>Test Center: <strong>@calendar.TestCenter.TestCenterName</strong></p>
                                        <p>Location: <strong>@calendar.TestCenter.TestCenterLocation</strong> </p>
                                        <p>Start Time: <strong>@calendar.StartTime</strong></p>
                                        <p>End Time: <strong>@calendar.StartTime.AddMinutes(calendar.Test.Duration)</strong></p>
                                        calendarIndex++;
                                    }
                                    else
                                    {
                                     <h2>@calendarIndex:</h2>
                                     <p>Expired</p>
                                        calendarIndex++;
                                    }
                                }
                            }
                            else
                            {
                                <h4>No Calendars Available</h4>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>

            </table>
    </div>

<script>
    function printFeeVoucher(url) {
        var newWindow = window.open(url, "_blank");
        newWindow.onload = function () {
            newWindow.print();
            newWindow.onafterprint = function () {
                newWindow.close();
            };
        };
    }

    var submitButtons = document.querySelectorAll(".btn-outline-info");
    submitButtons.forEach(function (button) {
        button.addEventListener("click", showForm);
    });

    function showForm(event) {
        var formContainerId = event.target.getAttribute("data-form-container");
        var formContainer = document.getElementById(formContainerId);
        var isFormVisible = formContainer.style.display === "block";

        if (isFormVisible) {
            formContainer.style.display = "none";
        } else {
            formContainer.style.display = "block";
        }
    }

    var showCalendarsButtons = document.querySelectorAll("#showCalendarButton");
    showCalendarsButtons.forEach(function (button) {
        button.addEventListener("click", showCalendars);
    });

    function showCalendars(event) {
        var calendarsContainerId = event.target.getAttribute("data-calendars-container");
        var calendarsContainer = document.getElementById(calendarsContainerId);
        var isContainerVisible = calendarsContainer.style.display === "block";

        if (isContainerVisible) {
            calendarsContainer.style.display = "none";
        } else {
            calendarsContainer.style.display = "block";
        }
    }
    
</script>