@model AuthSystem.Models.Test

@{
    ViewData["Title"] = "Apply";
    bool showForm = false;

}
  @if (Model.TestCalenders != null && Model.TestCalenders.Any())
{
    <div class="container-fluid border-4" style="margin:20px">
            <table class="table table-responsive table-striped table-light table-hover ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Composition</th>
                        <th>Duration</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var test in Model.TestList)
                {

                    var applyButtonId = $"applyButton_{test.Id}_{test.Id}";
                       var appliedMessageId = $"appliedMessage_{test.Id}_{test.Id}";
                     var isApplied = Model.TestApplications.Any(uc => uc.TestId == test.Id);
                    <tr>
                        <td>@test.TestName</td>
                        <td>
                            @if (test.TestDetails != null)

                            {
                                @foreach (var detail in test.TestDetails)
                                {
                                    <p style="color:royalblue">@detail.Subject.SubjectName - @detail.Percentage%</p>
                                }
                            }
                        </td>
                        <td>
                            @if (test.Duration < 60)
                            {
                                @test.Duration <text> minutes</text>
                            }
                            else
                            {
                                @(test.Duration / 60)
                                <text> hour(s)</text>
                            }
                        </td>

                        <td>
                            <form method="post" asp-controller="Calendar" asp-action="SelectTest" asp-route-testId="@test.Id"  >
                                <button id="@applyButtonId" class="btn btn-primary" type="submit" disabled="@isApplied">@((isApplied ? "Applied" : "Apply"))</button>
                                @if (isApplied)
                                {
                                  

                                    <a href="#" class="btn btn-outline-success" onclick="printFeeVoucher('@Url.Action("PrintVoucher", "Calendar", new { testId = test.Id, applicantName = User.Identity.Name })')">Print Fee Voucher</a>
                                    <a class="btn btn-outline-info" data-form-container="feeFormContainer_@test.Id">Submit Paid Fee Details</a>

                                    
                                }
                            </form>
                            @if (isApplied)
                            {
                                @if (isApplied)
                                {
                                    <div id="feeFormContainer_@test.Id" style="display: none;">
                                        <form class="form-group" asp-action="SubmitFeeDetails" asp-controller="Calendar" method="post" asp-route-testId="@test.Id">
                                            <input type="text" placeholder="Voucher Number" class="form-control" required name="voucherNumber" />
                                            <input type="text" placeholder="Bank (e.g., HBL, MCB, Allied)" class="form-control" required name="bankName" />
                                            <input type="text" placeholder="Branch Name" class="form-control" required name="branchName" />
                                            <input type="text" placeholder="Branch Code" class="form-control" required name="branchCode" />
                                            <label for="voucher">Upload your Paid Fee Voucher:</label>
                                            <input type="file" class="form-control" id="voucher" name="voucher" />
                                            <input type="submit" class="btn btn-info" />
                                        </form>
                                    </div>
                                }

                            }
                         </td>
                    </tr>
                    }
                </tbody>
            </table>
    </div>
}
<script>
    function printFeeVoucher(url) {
        var newWindow = window.open(url, "_blank");
        newWindow.onload = function () {
            newWindow.print();
            newWindow.onafterprint = function () {
                newWindow.close();
            };
        };
    }
    var submitButtons = document.querySelectorAll(".btn-outline-info");
    submitButtons.forEach(function (button) {
        button.addEventListener("click", showForm);
    });

    function showForm(event) {
        var formContainerId = event.target.getAttribute("data-form-container");
        var formContainer = document.getElementById(formContainerId);
        var isFormVisible = formContainer.style.display === "block";

        if (isFormVisible) {
            formContainer.style.display = "none";
        } else {
            formContainer.style.display = "block";
        }
    }

</script>

