    @model List<TestApplication>
    @inject AuthSystem.Data.AuthDbContext _test
    @using Microsoft.AspNetCore.Identity
    @using AuthSystem.Areas.Identity.Data
@{
    ViewData["Title"] = "Calendar Selection";
    var calendars = ViewBag.Calendars as List<TestCalenders>;
    string userId = ViewBag.UserId;
    var today = DateOnly.FromDateTime(DateTime.UtcNow.Date);
    TimeOnly currentTime = TimeOnly.FromTimeSpan(DateTime.Now.TimeOfDay);

    }
  
    <h4>
        Please select a calendar for your application(s). 
    </h4>
    <hr />
    <div >
    <table class="table table-responsive table-hover" id="example" style="font-family:  sans-serif">
            <thead>
                <tr>
                    <th>Application Name</th>
                    <th>Application ID</th>
                    <th>Calendars for this Application</th>
                    <th>
                        Application Created at
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var application in Model.OrderBy(t => t.Test.TestName))
                {
                    var calendarsContainerId = $"calendarsContainer_{application.Id}";
                    <tr>
                        <td>
                            @application.Test.TestName
                        </td>
                        <td>
                            <strong>
                                @application.Id
                            </strong>
                        </td>
                        <td>
                      
                            @if (calendars != null)
                            {
                                @if (application.CalendarId != null)
                                {

                                    var calendarData = calendars.Where(c => c.Id == application.CalendarId).FirstOrDefault();
                                    var calendarChangeRequest = _test.CenterChangeRequests
                                    .Any(t => t.UserId == userId && t.TestId == application.TestId  && t.Approved == false && t.ApplicationId == application.Id);
                                var calendarChangeRequestCalendarId = _test.CenterChangeRequests
                                    .Where(t => t.UserId == userId && t.TestId == application.TestId && t.Approved == false && t.ApplicationId == application.Id).FirstOrDefault()?.DesiredCalendarId;
                                    var calendarChangeRequestData = calendars
                                .Where(t => t.Id == calendarChangeRequestCalendarId).FirstOrDefault();

                                @if (calendarChangeRequest)
                                {
                                  
                                    <p>Request Submitted for: <strong>@(calendarChangeRequestData?.Date.ToString("D") + " " + calendarChangeRequestData?.StartTime + " - " + calendarChangeRequestData?.StartTime.AddMinutes(application.Test.Duration) + " " + calendarChangeRequestData?.TestCenter.TestCenterName)</strong></p>
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@application.Id" >Cancel Request</button>
                                <div class="modal fade" id="@application.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>You are going to cancel the calendar change request!</h4>
                                                </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <form asp-controller="Calendar" asp-action="CancleChangeRequest" asp-route-testId="@application.TestId" asp-route-calendarId="@calendarChangeRequestCalendarId" asp-route-userId="@userId" asp-route-applicationId="@application.Id">
                                                    <button class="btn btn-danger" >Yes</button>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                }
                                if (calendarData != null)

                                {
                                    if (calendarData.Date < today)
                                    
                                    {

                                        <h5><strong>(Expired)Selected Calendar: @calendarData?.Date.ToString("D") @calendarData?.StartTime @calendarData?.StartTime.AddMinutes(application.Test.Duration) (@calendarData?.TestCenter.TestCenterName) </strong></h5>

                                    }
                                    else {

                                        <h5><strong>Selected Calendar: @calendarData?.Date.ToString("D") @calendarData?.StartTime @calendarData?.StartTime.AddMinutes(application.Test.Duration) (@calendarData?.TestCenter.TestCenterName) </strong></h5>

                                    }


                                }
                                else
                                
                                {
                                    <h5>Calendar Expired</h5>

                                }

                                if (!calendarChangeRequest && calendarData != null && calendarData.Date > today )
                                {
                                  

                                    <button class="btn btn-warning" id="showCalendarButton" data-calendars-container="@calendarsContainerId">Change Calendar</button>
                                    <form method="post" asp-controller="Calendar" asp-action="SendCenterChangeRequest" style="display: none;" id="@calendarsContainerId">

                                        <input type="hidden" name="testId" value="@application.TestId" />
                                        <input type="hidden" name="applicationId" value="@application.Id" />
                                        <input type="hidden" name="userId" value="@userId" />
                                        <select class="form-select" name="newCalendarId" required>
                                            @{

                                                var allCalendarsForTest = calendars
                                                .Where(c => c.TestId == application.TestId && c.Date >= today)
                                                .ToList();

                                                var availableCalendars = allCalendarsForTest
                                                .Where(c => !Model.Any(a => a.TestId == application.TestId && a.CalendarId == c.Id) &&
                                                !_test.CenterChangeRequests.Any(r => r.TestId == application.TestId &&
                                                r.DesiredCalendarId == c.Id &&
                                                r.Approved == false))
                                                .ToList();
                                            }

                                            <option value="" disabled selected>-- Select a calendar --</option>
                                            @foreach (var calendar in availableCalendars)
                                            {
                                                <option value="@calendar.Id">
                                                    @calendar.Date.ToString("D") - @calendar.StartTime-@calendar.StartTime.AddMinutes(application.Test.Duration) (@calendar.TestCenter.TestCenterName)
                                                </option>
                                            }
                                        </select>
                                        <div class="modal fade" id="@application.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h6>You are going to submit a calendar change request! </h6>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button class="btn btn-danger" type="submit">Yes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@application.Id">Submit Calendar Change Request</a>
                                    </form>

                                }
                            }
                                else
                                {
                                    <form method="post" asp-controller="Calendar" asp-action="SelectCalendarUser">
                                        <input type="hidden" name="testId" value="@application.TestId" />
                                    <select class="form-select" name="calendarId" required>

                                        @{

                                            var allCalendarsForTest = calendars
                                            .Where(c => c.TestId == application.TestId && c.Date >= today)
                                            .ToList();

                                            var availableCalendars = allCalendarsForTest
                                            .Where(c => !Model.Any(a => a.TestId == application.TestId && a.CalendarId == c.Id) &&
                                            !_test.CenterChangeRequests.Any(r => r.TestId == application.TestId &&
                                            r.DesiredCalendarId == c.Id &&
                                            r.Approved == false))
                                            .ToList();
                                        }

                                        <option value="" disabled selected>-- Select a calendar --</option>
                                        @foreach (var calendar in availableCalendars)
                                        {


                                            <option value="@calendar.Id">
                                                @calendar.Date.ToString("D") - @calendar.StartTime-@calendar.StartTime.AddMinutes(application.Test.Duration) (@calendar.TestCenter.TestCenterName)
                                            </option>
                                            
                                        }
                                    </select>
                                    <div class="modal fade" id="@application.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                             
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button class="btn btn-danger" type="submit">Yes</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#@application.Id">Select Calendar</a>
                                    </form>
                                }
                            }
                            else
                            {
                                <p>No calendars available for this test!</p>
                            }
                        </td>
                        <td>
                        @application.SelectionTime.ToString("dddd, dd MMMM yyyy , hh:mm tt")
                        </td>               
                    </tr>
                }
            </tbody>
        </table>
    
    </div>


    <script>
        var showCalendarsButtons = document.querySelectorAll("#showCalendarButton");
        showCalendarsButtons.forEach(function (button) {
            button.addEventListener("click", showCalendars);
        });

        function showCalendars(event) {
            var calendarsContainerId = event.target.getAttribute("data-calendars-container");
            var calendarsContainer = document.getElementById(calendarsContainerId);
            var isContainerVisible = calendarsContainer.style.display === "block";

            if (isContainerVisible) {
                calendarsContainer.style.display = "none";
            } else {
                calendarsContainer.style.display = "block";
            }
        }

    </script>




