@model List<TestCalenders>

@{
    ViewData["Title"] = "TestCalendars";

}

<h1>Test Calendars</h1>
@foreach (var calendar in Model) {

    <form asp-action="CalendarApplicants" asp-controller="Calendar" method="post">
        <input type="hidden" name="testId" value="@calendar.TestId" />
        <input type="hidden" name="id" value="@calendar.Id" />
        <button type="submit" class="btn btn-secondary">
            <p>@calendar.Date @calendar.StartTime @calendar.EndTime</p>
        </button>
    </form>

}